<nz-layout class="layout">
  <nz-header>
    <div class="logo"> C O D E</div>
    <ul class="menu" nz-menu [nzTheme]="'dark'" [nzMode]="'horizontal'">
      <li nz-menu-item *ngIf="!user" (click)="navigateByUrl('/register')">
        注册
      </li>
      <li nz-menu-item *ngIf="!user" (click)="navigateByUrl('/login')">
        <a routerLink="/login">
          登录
        </a>
      </li>
      <li nz-menu-item (click)="navigateByUrl('/exam/list')">题解页</li>
      <li nz-menu-item (click)="navigateByUrl('/rank')">积分榜</li>
      <li nz-submenu *ngIf="user">
        <span title>
          用户：{{user?.nickName}}
          <i class="anticon anticon-down"></i>
        </span>
        <ul>
          <li nz-menu-item (click)="navigateByUrl('/exam/publish')">发布题解</li>
          <li nz-menu-item (click)="navigateByUrl('/person')">个人信息</li>
          <li nz-menu-item (click)="logout()">退出登录</li>
        </ul>
      </li>
    </ul>
  </nz-header>
  <nz-content class="content">
    <nz-breadcrumb class="breadcrumb">
      <nz-breadcrumb-item>
        <i class="anticon anticon-home"></i>
        主页
      </nz-breadcrumb-item>
      <nz-breadcrumb-item *ngFor="let breadcrumb of breadcrumbs">
        <a href=""><span>{{breadcrumb?.label}}</span></a>
      </nz-breadcrumb-item>
    </nz-breadcrumb>

    <div class="inner-content">
      <ng-content></ng-content>
    </div>
  </nz-content>

  <nz-footer class="footer">CODE FRONT ©2018 Implement By Angular@5.0</nz-footer>
</nz-layout>
